body {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  color: #626262;
}

ul {
  list-style: none;
}

.nav-list-link {
  text-decoration: none;
  color: #7d7d7d;
}

.nav-list-link:hover {
  color: #03a9f4;
}

.main-list-img {
  width: 420px;
  height: 280px;
}

.main-list-text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  line-height: 1.14;
  color: #b4ad9e;
}

.main-list-header {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.33;
}

.btn {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  color: #626262;
  width: 165px;
  height: 60px;
}
